:root {
  --cor-principal: rgb(185, 172, 78);
  --cor-secundaria: rgb(70, 66, 29);
  --cor-destaque: rgb(125, 120, 55);
  --cor-menuOff: rgba(98, 95, 44, 0.9);
  --cor-fundo: rgb(174, 167, 93);
  --cor-texto: rgb(0, 0, 0);
}
body{
    margin: 0;
}

/* ---------  Menu ------------*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-destaque);
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: bold;
    z-index: 1;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
}
.linkNone > a:link{
    color: var(--cor-texto);
    text-decoration: none;
}
.linkNone > a:visited {
    color: var(--cor-texto);
}

#menuOFF{
    display: flex;
    gap: 10%;
}

#menubtn{
    display: none;
}
#menu-content {
    margin-top: 3.5rem;
    width: 100vw;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: var(--cor-menuOff);
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: bold;
    z-index: 1;
    position: fixed;
    flex-wrap: wrap;
}
#menu-content > p {
    margin-top: 0;
}
#menu-content.show {
    display: grid;
    opacity: 1;
}

/* ---------  Capa ------------*/

header{
    height: 700px;
    padding-top: 8rem;
    text-align: center;
    background-color: var(--cor-secundaria);
    
}
.traço_sombra {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.traço {
    background-color: black;
    font-size: 1px;
    height: 4px;
    width: 20%;
    text-align: center;
    justify-content: center;
    margin: 0;
}
header > img {
    width: 20rem;
    height: 20rem;
}
header > h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    color: var(--cor-principal)
}
.sombra{
    display: flex;
    height: 30px;
    width: max-content;
}



/* ---------  Conteudo ------------*/
main{
    height: min-height(700px);
    background-color: var(--cor-principal);
}
.sec {
    padding-top: 4rem;
    text-align: center;
    
}
.sech1 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: Helvetica, sans-serif;
}

/* ---------  Seção fotos ------------*/

#book {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#book > a {
    position: relative;
    cursor: pointer;
}

#book > a > img{
    border-radius: 3%;
    height: 90%;
    filter: grayscale(0%);
    transition: filter 0.5s ease;
    transition: transform 0.3s ease;
}

.mais-icon {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Esconde o ícone inicialmente */
    color: white; /* Cor do ícone */
    font-size: 40px; /* Tamanho do ícone */
    background-color: rgba(0, 0, 0, 0.6); /* Fundo para melhor visibilidade */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Esconde o ícone */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animação suave para o ícone */
}

#book > a:hover img {
    filter: grayscale(100%);
    transform: scale(1.1);

}
#book > a:hover .mais-icon{
    transform: translate(-50%, -50%) scale(1); /* Exibe e amplia o ícone */
    opacity: 1; /* Torna o ícone visível */
}

/* ---------  Menu ------------*/
@media (min-width: 200px) {
    #menubtn{
        display: flex;
        height: 2rem;
        width: 4rem;
        align-items: center;
        justify-content: center;
        background-color: var(--cor-texto);
        color: var(--cor-principal);
        font-weight: bold;
        border-color: var(--cor-texto);
        cursor: pointer;
    }
    #menuOFF {
        display: none;
    }
    #book > a{
    margin: 1vw;
        width: 70vw;
        height: 35vh;
    }
    #texto > p {
        font-size: 1rem;
    }
    #texto > p > strong{
        font-size: 90%;
        justify-content: center;
        text-align: center;
    }
    #none{
        display: flex;
    }
    .tela {
        border-radius: 0%;
    }
    .tela button{
        margin-left: 30%;
    }
    .tela h1{
        font-size: 1.3rem;
    }
    .tela img{
        max-width: 70%;
        height: 30%;
    }
    .tela p{
       font-size: 90%;
    }

    form{
        display: flex;
        flex-direction: column;
        height: min-content;
        justify-items: center;
        margin: 20% 5% 0% 10%;
    }
    form p {
        display: flex;
        margin-bottom: 0;
        align-items: start;
    }
    form p:not(:last-of-type){
        gap: 12%;
    }
    form > p > label{
        font-size: 1.5rem;
        font-weight: bold;
    }
    form > p > input{
        font-size: 1rem;
        width: 500%;
        border-color: black;
        background-color: var(--cor-principal);
    }
    form > p > textarea{
        margin-left: 1%;
        font-size: 1rem;
        width: 500%;
        height: 5rem;
        background-color: var(--cor-principal);
        border-color: black;
    }
    form > input{
        width: 6rem;
        height: 2rem;
        margin-top: 4%;
        margin-left: 70%;
        background-color: black;
        color: var(--cor-principal);
        font-weight: bold;
    }
    #nomeForm{
        margin-right: 5.4%;
    }
    #emailForm{
        margin-right: 6%;
    }
    #celularForm{
        margin-right: 0.7%;
    }
    #mensagemForm{
        margin-right: 0%;
    }
}
/* ----------- section sobre ------------*/
#texto{
    display: flex;
    justify-content: center;
    text-align: justify;
    color: var(--cor-texto);
    font-size: 2rem;
    gap: 5vw;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 2%;
}
#sobre{
    background-color: var(--cor-fundo);
    height: max-content;
}


/* ----------- section contato ------------*/


#contato{
    background-color: var(--cor-principal);
    height: 700px;
}

form > input{
    cursor: pointer;
}

/* ----------- rodape ------------*/

footer{
    display: flex;
    padding-top: 1rem;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-destaque);
}
footer > section> h1{
    margin: 0px;
    font-size: 24px;
}
footer > section{
    width: 18vw;
    text-align: center;
    justify-content: center;
    display: grid;
}
.icoRedes{
    display: flex;
    gap: 1rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 10rem;
}

.icoRedes a {
    color: rgb(0, 0, 0);
    height: 2rem;
    width: 2rem;
}

.icoRedes a:hover {
    transform: scale(1.2);
}
.icoRedes a:nth-child(1):hover {
    color: purple;
}
.icoRedes a:nth-child(2):hover {
    color: blue;
}
.icoRedes a:nth-child(3):hover {
    color: green;
}

/* ----------   selection fotos      ----------*/

.tela {
    display: none;
    position: fixed;
    top: 5rem;
    left: 15%;
    width: 70vw;
    height: 80vh;
    min-width: 50vw;
    bottom: 8%;
    background-color: var(--cor-fundo);
    color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 5;
    overflow:hidden;
    box-shadow: 0 0 0px 10000px rgba(0, 0, 0, 0.7);
}

.tela h1 {
    text-align: center;
    margin: 0px;
    margin-bottom: 0.2vw;
}
.tela p {
    padding-left: 8%;
    padding-right: 8%;
    max-width: 800px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 1rem;
}
.tela button{
    margin-left: 70%;
    background-color: black;
    color: var(--cor-principal);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    width: 4.5rem;
    height: 2rem;
}

.tela div{
    width: 70vw;
    height: 6.79vh;
    overflow: hidden;
}
@media (min-width: 576px) {
    #menubtn{
        display: none;
    }
    #menu-content > p {
        display: none;
    }
    #menuOFF{
        display: flex;
    }
    #book > a{
        margin: 1vw;
        width: 45vw;
        height: 30vh;
    }
    .tela{
        border-radius: 3%;
     }
    .tela div{
        width: 100%;
        min-width: min-content;
        height: 6.79vh;
        overflow: hidden;
        justify-content: space-around;
    }
    .tela img {
        max-width: 90%;
        height: 40%;
        margin-bottom: 1.5rem;
        border-radius: 3%;
    }
    .tela h1{
        font-size: 2rem;
    }
    #none{
        display: flex;
    }
    #texto > p > strong{
        font-size: 1.5rem;
        justify-content: center;
        text-align: center;
    }
    #nomeForm{
        margin-right: 3.7%;
    }
    #emailForm{
        margin-right: 3.5%;
    }
    #celularForm{
        margin-right: 0%;
    }
    #mensagemForm{
        margin-right: 4%;
    }
}


@media (min-width: 768px){
    #book > a{
        margin: 1vw;
        width: 40vw;
        height: 35vh;
    }
    .tela div{
        width: 100%;
        height: 7vh;
        overflow: hidden;
        justify-content: space-around;
    }
    .tela {
        left:14.2%;
    }
    #texto > p > strong{
        justify-content: center;
        text-align: center;
    }
    form > p > label{
        font-size: 2rem;
        font-weight: bold;
    }
    #nomeForm{
        margin-right: 3.6%;
    }
    #emailForm{
        margin-right: 3.3%;
    }
    #celularForm{
        margin-right: 0%;
    }
    #mensagemForm{
        margin-right: 4.1%;
    }
}
@media (min-width: 992px){
    #book > a{
        margin: 1vw;
        width: 35vw;
        height: 35vh;
    }
    .tela div{
        width: 100%;
        height: 7.43vh;
        overflow: hidden;
        flex-grow:initial;
        justify-content: space-around;
    }
    .tela {
        left:19.7%;
        width: 60vw;
    }
    #texto > p{
        font-size: 1.4rem;
    }
    #texto > p > strong{
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }
    form{
        display: flex;
        flex-direction: column;
        height: min-content;
        justify-items: center;
        margin: 10% 5% 0% 20%;
    }
    form p {
        display: flex;
        margin-bottom: 0;
        align-items: start;
    }
    form p:not(:last-of-type){
        gap: 7%;
    }
    form > p > label{
        font-size: 2.5rem;
        font-weight: bold;
    }
    form > p > input{
        font-size: 2rem;
        width: 50%;
        border-color: black;
        background-color: var(--cor-principal);
    }
    form > p > textarea{
        margin-left: 1%;
        font-size: 1.2rem;
        width: 50%;
        height: 5rem;
        background-color: var(--cor-principal);
        border-color: black;
    }
    form > input{
        width: 6rem;
        height: 2rem;
        margin-top: 2%;
        margin-left: 58%;
        background-color: black;
        color: var(--cor-principal);
        font-weight: bold;
    }
    #nomeForm{
        margin-right: 5.3%;
    }
    #emailForm{
        margin-right: 5%;
    }
    #celularForm{
        margin-right: 1.5%;
    }
    #mensagemForm{
        margin-right: 0%;
    }
}
@media (min-width: 1200px){
    #book > a{
        margin: 1vw;
        width: 25vw;
        height: 30vh;
    }
    #fotos {
        height: 700px;
    }
    .tela div{
        width: 100%;
        min-width: min-content;
        height: 6.79vh;
        overflow: hidden;
        justify-content: space-around;
    }
    #nomeForm{
        margin-right: 2.6vw;
    }
    #emailForm{
        margin-right: 2.4vw;
    }
    #celularForm{
        margin-right: 0.2vw;
    }
}
@media (min-width: 1400px) {
    #book > a{
        margin: 0vw;
        width: 18vw;
        height: 35vh;
    }
    #fotos {
        height: 700px;
    }
    #book {
        height: 590px;
        width: 1000px;
        margin-left: 17vw;
    }
    .tela {
        width: 50vw;
        left: 25%;
    }
    #nomeForm{
        margin-right: 1.9vw;
    }
    #emailForm{
        margin-right: 1.8vw;
    }
    #mensagemForm{
        margin-right: 0.9vw;
    }
}
@media (min-width: 1900px) {
    #book > a {
        margin: 1vw;
        width: 11vw;
        height: 30vh;
    }
    #fotos {
        height: 600px;
    }
}




